# intellij stuff
.idea/
.run/

# vscode stuff
.vscode/

# python stuff
__pycache__/
*.pyc
.ipynb_checkpoints

# virtualenv
local-env

# training data
data/

# model weights
weights/
ft-weights/

# logs
logs/
lightning_logs/

# testing stuff (not sure if this is needed)
notebooks/