[MASTER]
jobs=4
persistent=yes
suggestion-mode=yes
unsafe-load-any-extension=no

[MESSAGES CONTROL]
disable=C,R,W0221,E0401
enable=c-extension-no-member,use-a-generator,no-else-return

[FORMAT]
max-line-length=150
max-module-lines=1000