torch
torchaudio
torchvision
numpy
tokenizers
bitsandbytes
pandas
tqdm
transformers
aiohttp
datasets
safetensors
langchain
langchain-community
chromadb
sentence-transformers
jupyter
lightning
einops
datatrove[io]