torch
torchaudio
torchvision
torchao
numpy
tokenizers
bitsandbytes
pandas
tqdm
transformers
datasets
safetensors
langchain
langchain-community
chromadb
sentence-transformers
jupyter
lightning
einops
pyarrow
litserve
git+https://github.com/EleutherAI/lm-evaluation-harness
deepspeed
